# Qt build files
*.pro.user
*.pro.user.*
*.autosave
Makefile
Makefile.*
*.o
*.obj
*.exe
*.dll
*.ilk
*.exp
*.lib
*.pdb
*.idb
*.pch
*.obj

# Qt Creator
*.creator
*.files
*.includes

# Build directories
build/
Build/
debug/
release/
bin/x86_64/App.exe

# Stash files
.qmake.stash
*.stash

# OS files
.DS_Store
Thumbs.db

# Config files
!bin/x86_64/configs/
bin/x86_64/configs/*.json
!bin/x86_64/configs/config.json
!bin/x86_64/configs/priority.json
